html,body,main,div,img,h1,h2,h3,h4,h5,h6,p,nav,section,main,footer,header{
    margin:0px;
    padding:0px;
}
main{
    background:#fff;
}
/*------------------ header content ----------------*/
main header{
    margin:0px;
    height:60vh;
    background-color:white;
}
main header nav{
    background-color:lightseagreen; 
}
#navbarSupportedContent15{
    position: relative;
}
/*---------- page header logo section -----------------*/
#pageLogo{
    background-color:white;
    height:200px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,1fr);
}
.image {
    width:80px;
    height:60px;
}
.page-title{
    margin:0px;
    padding:0px;
}
.logo{
    width:150px;
    height:100px;
}

.image > img {
    width:200px;
    height:200px;
}

.logo > img{
    width:150px;
    height: 100px;
    border:2px solid black;
    box-shadow:0px 4px 4px 0px black;
}
/*------- page header navigation ------*/
#page-navigation{
    color:white;
    height:80px;
    background-color:lightseagreen;
}
#page-navigation ul li a{
    font-size:1.3em;
}
#page-navigation nav{
    padding-bottom:.5em;
}

/*------------ page main content -------*/
.mainPage{
    margin-top:0px;
}
.mainPage .container img{
    width:100%;
    background-repeat: no repeat;
    background-size: cover;
    height: 500px;
}
.navContent{
display: grid;
grid-template-columns: repeat(4,1fr);
grid-template-rows: repeat(1,1fr);
grid-gap:10px;
}
.navContent > div{
  position: relative;
  bottom:30px;
  padding:1em;
}
.navContent .doctor{
    background-color:lightseagreen;
    color:white;
    margin-left: 20px;
    
}
.navContent .patientPortal{
    background-color:rgb(13, 158, 206);
    color:white;
}
.patientPortal a, .pharmacy a,.doctor a{
margin-top:20px;
}
.navContent .pharmacy{
    background-color:lightseagreen;
    color:white;
}
.navContent .admin{
    background-color:green;
    color:white;
    margin-right: 20px;
}
.navContent a{
    color:black;
    position: relative;
    margin-left:4.5em;
}
.doctorImage{
    width:200px;
    height: 20px;
}

.activities{
    background-color:#ccc;
    display: grid;
    grid-template-columns:repeat(2,1fr);
    grid-auto-rows: repeat(1,1fr);
    grid-gap: 30px;
    padding:20px;
    
}
.mainActivites .subgrid{
    background-color:white;
    border-bottom:1px solid green;
    padding:15px;
}
.subgrid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(1,1fr);
    grid-gap:0px;
}
.navContentImages {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(1,1fr);
}
.navContentImages img{
    margin-left:50px;
}
.video{
    width:600px;
    height: 700px;
    border:2px solid black;;
}
.title{
 font-family: cursive;
}
.copyright{
    width:100vw;
    margin:auto;
}
