html,body{
    margin:0px;
}
.container{
    margin:auto 12%;
}
.container p{
    text-transform: uppercase;
}
.banner{
    background-color:lightseagreen;
    color:white;
    text-align: center;
    margin: 2em 0 0 0;
    font-size:1.3em;
    padding:0.2em
}
.submit{
    float:right;
    width:200px;
    height: 40px;
    border: 1px solid lightseagreen;
    border-radius:4px;
    background-color:lightseagreen;
    color:white;
    font-size: 1.2em;
    margin:1em 0 0 0 ;
    box-shadow: 0px 2px 4px 2px grey;
}
.submit:focus{
  border:0px;
}
input{
    border:1px solid black;
    font-size: 1.2em;
}
input:focus{
    border:2px solid red;
}
label{
    opacity:0.9;
    color:black;
    font-size: 1.3em;
    line-height: 27px;
    padding: 5px;;
}
span{
    display: block;
    float:right;
    clear: both;
    color:red;
}
label{
    padding:8px;
}
.isInvalid{
    border:2px solid red;
}
select{
    border:1px solid black;
    font-size: 1em;
}

select option{
    padding: 10px;
}
/*------- responsive design --------*/

@media screen and (max-width: 768px) {
    .container{
      margin:auto 10%;
   }
   input{
    width:70%;
    height: 25px;
    
}
}
@media screen and (max-width:655px){
    input{
        width:65%;
    }
}
@media screen and (max-width:570px){
  .container{
      margin: auto 10px;
  }
  .inputContainer{
      display: flex;
      flex-direction: column;
  }
  input{
      width:96%;
  }
  .submit{
      width:96%;
      margin:10px 10px 10px 20px;
  }
  select{
      width:100%;
  }
  .inputContainer{
    margin:5px;
}
label{
    margin:0px;
    padding: 5px;
}
}